LOG_LEVEL=info
KAFKAJS_NO_PARTITIONER_WARNING=1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/game_db
PORT=3000
KAFKA_CLIENT_ID=boss-damage-service
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=boss-damage-service
KAFKA_TOPIC=boss-damage